*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

header{
    background-color: white;
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    height: 800px;
}

/*Tarjeta presentación*/

.presentacion{
    height: 500px;
    width: 50%;
    display: flex;
    margin: auto;
    border-radius: 7px;
    box-shadow: 0px 14px 32px 0px #0183fc;
    overflow: hidden;
    box-sizing: border-box;
    margin-top: 1px;
}

.presentacion .tarjeta{
    width: 50%;
}

.presentacion .tarjeta img{
    width: 100%;
    vertical-align: top;
}

.producto-info{
    width: 50%;
    border-radius: 0 7px 10px 7px;
    background: white;
}

.producto-texto{
    width: 100%;
}

.producto-texto h1, .precio-btn{
    font-family: serif;
}

.producto-texto h1{
    margin-left: 38px;
    padding-top: 52px;
    font-size: 34px;
    color: #0183fc;
}

.producto-texto h2{
    margin: 0 0 47px 38px;
    font-size: 13px;
    font-family: sans-serif;
    text-transform: uppercase;
    color: #0183fc;
    letter-spacing: .2em;
}

.producto-texto p{
    height: 125px;
    margin-left: 38px;
    font-family: sans-serif;
    color: #0183fc;
    line-height: 1.7em;

}

.precio-btn{
    height: 103px;
    margin-top: 17px;
    display: flex;
    justify-content: center;
}

.precio-btn a{
    height: 50px;
    width: 176px;
    border-radius: 60px;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: white;
    background: #0183fc;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
}

.precio-btn a:hover{
    background: blue;

}




.gallery{
    background-color: #f74cd0;
    columns: 1 604px;
    column-gap: 0.5em;
    
}

nth:first-child{
    flex-wrap: nowrap;
    display: block;
    
}


/*galeria*/


.foto{

    max-width: 100%;
    margin-bottom: 0.5em;
    display: block;
    outline: 2px solid white;
    background-color: transparent;
}


.gallery{
    padding: 100px;
    background-color: black;
    columns: 5 320px;
    column-gap: 0.5em;
    
    
}

.foto:hover{
    outline: 4px solid #0183fc;
    
    
}

.sesiones{
    background-color: black;
    
}

.s{
    text-align: center;
}

#hero{
    min-width: 100vh;
    position: relative;
}

video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.2;
    mix-blend-mode: overlay;
}

#promo{
    position: relative;
    z-index: 2;
}





    


