*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

header{
    background-color: white;
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    height: 800px;
}

.gallery{
    background-color: #f74cd0;
    columns: 1 604px;
    column-gap: 0.5em;
    
}

nth:first-child{
    flex-wrap: nowrap;
    display: block;
    
}


/*galeria*/


.foto{

    max-width: 100%;
    margin-bottom: 0.5em;
    display: block;
    outline: 2px solid white;
    background-color: transparent;
}


.gallery{
    padding: 100px;
    background-color: black;
    columns: 5 320px;
    column-gap: 0.5em;
    
    
}

.foto:hover{
    outline: 4px solid #0183fc;
    
    
}

.sesiones{
    background-color: black;
    
}

.s{
    text-align: center;
}

#hero{
    min-width: 100vh;
    position: relative;
}

video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.2;
    mix-blend-mode: overlay;
}

#promo{
    position: relative;
    z-index: 2;
}





    


